.courses-container {
    padding: 0 2rem;
}

.dashboard .main-container .my-courses .listing-courses .course-item {
    // max-width: 420px;
    padding-bottom: 0 !important;
    border-radius: 4px;
}