.dashboard {
    .main-container {
        .my-courses {
            width: 100%;

            .course-item {

                .course {

                    .details,
                    section.details {
                        display: flex;
                        padding: 0;

                        .wrapper-course-image {
                            margin: 0;
                            float: none;
                        }

                        .wrapper-course-details {
                            padding:0;
                            margin: 0 16px;
                            flex-flow: unset;
                            flex-direction: column;
                            flex-grow: 1;

                            .course-title a {
                                width: 100%;
                                font-size: 18px !important;
                                line-height: 25px !important;
                                color: black;
                            }

                            .course-info {
                                width: 100%;
                            }

                            .course-actions {

                                .action-facebook,
                                .action-twitter {
                                    margin-top: 10px;
                                }
                            }

                            .wrapper-course-info-actions {
                                .wrapper-course-actions {
                                    flex-grow: 0 !important;
                                    width: 100%;
                                    margin-right: 0px !important;

                                    .wrapper-action-more {
                                        position: relative !important;
                                        float: none !important;
                                    }

                                    .enter-course.archived,
                                    .enter-course {
                                        float: none;
                                    }
                                }

                                .continue-button {
                                    a {
                                        @include nau-button-style($fontSize: .8rem);
                                        margin-bottom: 10px;

                                        &.archived {
                                            color: #767676 !important;
                                            background-color: #eee !important;
                                            border-color: #e9e9e9 !important;

                                            &:hover {
                                                color: #fff !important;
                                                background-color: #767676 !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .wrapper-messages-primary {
                        .messages-list {
                            .message.message-upsell {
                                .wrapper-extended {
                                    a.action {
                                        @include nau-button-style;
                                    }

                                    .action-upgrade-container {
                                        .action-upgrade {
                                            .action-upgrade-icon {
                                                display: none;
                                            }

                                            #upgrade-to-verified {
                                                font-weight: normal;
                                                margin-right: 0;
                                            }

                                            &:hover {
                                                #upgrade-to-verified {
                                                    color: $nau_blue;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}