footer {
    ul {
        padding: 0;
        list-style: none;
    }

    #quick-links-section {
        padding: 50px 60px 30px;
        background-color: $footer-bg-color;
        display: flex;

        div:nth-last-child(2) {
            max-width: none !important;
        }

        @media screen and (max-width: $breakpoint-medium) {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @media screen and (max-width: $breakpoint-small) {
            padding-right: 10px;
            padding-left: 10px;
        }
    }

    .footer-title {
        font-weight: bold;
        display: block;
        font-size: 1.15rem;
        padding-bottom: 8px;
        color: $footer-header-color;
    }

    .footer-links,
    .footer-widget,
    .footer-social {
        padding: 0 0.55rem 10px 0;
        flex-grow: 1;

        a, a:visited {
            // Important is need to force color on /course_modes/choose/<course_id> page.
            color: $footer-link-color !important;
            text-transform: inherit;
            line-height: 1.8rem;
            font-size: 0.95rem;

            &:hover {
                // Need to fix on /course_modes/choose/<course_id> page.
                text-decoration: underline !important;
                border-bottom-style: none;
            }
            .icon {
                font-size: 25px;
            }
        }

        @media screen and (max-width: $breakpoint-small) {
            max-width: 50%;
        }

        span {
            color: $footer-link-color;
        }

        .copy {
            margin-top: 1rem;
        }
    }

    #openedx-logo {
        display: block;
        margin-top: 20px;
        a {
            img {
                max-width: 100px;
            }
        }
    }

    #social-media {
        ul {
            list-style-type: none;
            display: flex;

            li {
                padding-right: 0.55rem;
                a {
                    img {
                        width: 25px;
                    }
                    i.material-icons{
                        font-size: 30px;
                    }
                }
            }
        }
    }

    section#entities-quick-links {
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 25px 65px;

        @media screen and (max-width: $breakpoint-medium) {
            flex-direction: column;
            padding-right: 0;
            padding-left: 0;
        }

        .entities-quick-links__line {
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1.5rem;
            border-block-end: 1px solid #dedede;
            padding: 1rem 0 1.6rem 0;

            &:last-child {
                border: none;
            }

            @media screen and (max-width: $breakpoint-medium) {
                flex-direction: column;
                align-items: center;
            }
        }

        .entities-links-logo { 
            text-align: center;
            padding-top: 10px;
            padding-right: 5px;
            padding-left: 5px;            

            img {
                max-width: calc(100vw - 20px);
                max-height: 4.6rem;
            }

            @media screen and (max-width: $breakpoint-medium) {
                margin-left: auto;
                margin-right: auto;
            }

            &:first-child {
                text-align: left;
                padding-left: 0px;

                @media screen and (max-width: $breakpoint-medium) {
                    text-align: center;
                }
            }

            &:last-child {
                text-align: right;
                padding-right: 0px;

                @media screen and (max-width: $breakpoint-medium) {
                    text-align: center;
                }
            }
        }
    }
}
