/**
 * Primary replica should be on nau-theme LMS.
 */
.global-header {
    border-bottom: none !important;
    padding: 10px !important;
    margin-bottom: 5px;

    @media screen and (max-width: $breakpoint-large) {
        .hamburger-menu {
            left: unset !important;
            right: 5px;
            top: 2px !important;
            left: inherit;
        }
    }
}

/** Top nav menu */

.branding-top-nav {
    background-color: $menu-bg-color;
    display: flex;
    justify-content: space-between;
    box-shadow: $nau-branding-top-nav-shadow;
    align-items: center;
    min-height: 50px;

    @media screen and (min-width: $breakpoint-large) and (max-width: $breakpoint-xlarge) {
        margin-bottom: 10px;
    }

    @media screen and (max-width: $breakpoint-large) {
        flex-direction: column;
        flex-grow: 1;

        &>* {
            align-self: flex-start;
            align-items: stretch;
            width: 100%;
        }
    }

    a.nau-header-logo-link {
        display: inline-block;


        .logo {
            display: inline-block;
            max-height: 80px;

            @media screen and (min-width: $breakpoint-large) {
                margin-left: 20px;
            }

            @media screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
                margin-left: 10px;
            }

            @media screen and (max-width: $breakpoint-medium) {
                margin-left: 4px;
            }

            max-width: -webkit-calc(100% - 50px);
            max-width: -moz-calc(100% - 50px);
            max-width: calc(100% - 50px);
        }
    }

    li {
        list-style-type: none;
    }

    // the container that holds the navigation
    #actions-container.secondary {
        display: flex;
        align-items: center;

        @media screen and (max-width: $breakpoint-large) {
            flex-direction: column;
        }

        .user-image-frame {
            border-radius: 50%;
        }

        .settings-language-form {
            padding: 5px 10px 0px;
            float: none;
            font-size: 0.9rem;

            @media screen and (max-width: $breakpoint-large) {
                align-self: auto;
            }
        }


        .help-link {
            padding: 0 20px;

            @media screen and (max-width: $breakpoint-large) {
                padding: 12px 20px;
            }
        }

        .toggle-user-dropdown {
            padding: 0 6px 0 10px;
            cursor: pointer;
        }

        .dropdown-user-menu {
            border-radius: 6px;
            background: white;
            z-index: 100;
            display: block;
            position: absolute;
            transform: translate3d(-10px, 50px, 0px);
            box-shadow: $global-header-shadow;
            top: 0;
            right: 0;
            will-change: transform;

            @media screen and (max-width: $breakpoint-large) {
                width: 100%;
                position: relative;
            }

            .dropdown-nav-item {
                border-bottom: 1px solid $footer-bg-color;

                &:last-child {
                    border-bottom: none;
                }
            }

            a {
                display: block;
                padding: 12px 20px;
                color: $text-color;


                &:hover {
                    color: $header-bar-color;
                    text-decoration: none;
                }
            }
        }

        .menu-title {
            text-decoration: none;

            span.username {
                display: inline-block;
                max-width: 150px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                vertical-align: middle;
            }
        }

        .mobile-menu {
            @media screen and (max-width: $breakpoint-large) {
                width: 100%;
                margin: 30px 0 10px;
            }

            .mobile-nav-link a::after {
                content: unset;
            }
        }
    }

    .nau-header-tagline {
        @media screen and (max-width: $breakpoint-medium) {
            display: none;
        }
    }

    .nau-header-course {
        max-height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        @media screen and (max-width: $breakpoint-large) {
            display: none;
        }

        img {
            max-height: 4.3rem;
            max-width: 16rem;
        }

        .nau-header-course-information {
            display: flex;
            align-items: center;

            .provider {
                font-weight: bold;

                &:after {
                    content: ":";
                }
            }

            .course-number {
                display: none;
            }

            .course-name {
                max-width: 250px;
            }

            span {
                margin-left: 1rem;
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 0.9rem;
            }

            &.with-image {
                .provider {
                    display: none;
                }
            }

            @media screen and (max-width: $breakpoint-xlarge) {
                display: none;
            }
        }
    }
}

.menu-container {
    margin-right: 1rem;

    .login-menu {
        display: flex;
        padding: 0;
        margin: 0;
        align-self: center;

        &>div {
            padding: 0 1.2rem;

            &:last-child {
                padding-right: 0;
            }
        }

        a {
            text-decoration: none;

            &.register {
                @include nau-button-style;
            }
        }
    }
}