// Grab the mixins
@import 'utils';

$black : #000;
$white : #FFF;
$nau_blue : $primary;
$nau_button_focus: lighten($primary, 25%);

* {
    outline: #818181 !important;
}

/*** General ***/

body {
    font-family: "Roboto", sans-serif;
    text-rendering: optimizeLegibility;
    margin: auto;
    padding: 0px;
    padding-bottom: 10px;

    .window-wrap {
        display: flow-root;
        border-radius: 0px 0px 10px 10px;
    }
}

.content-wrapper .course-tabs.navbar,
// course tab and forum tab
.content-wrapper nav.courseware.wrapper-course-material // course tab within a course

    {
    border-bottom: solid 1px #e3e3e3;
    overflow-x: auto;
}

.page-content-container {
    background-color: rgb(250, 250, 250);
    border: 0px;
    background-color: transparent;
}

#discussion-container.page-content-container {
    border: 0; // remove border on discussion forum
}

// Custom homepage for partner site cursos-ssi
.home {
    .outer-wrapper .title .course-search {
        display: none;
    }

    &>header {
        background-color: none;
        background-image: unset;
        background-size: unset;
        box-shadow: unset;

        .outer-wrapper {
            padding: 0px;
            max-width: unset;
            // Remove animation on homepage header
            animation: unset;
            animation-fill-mode: none;
            animation-delay: unset;

            .title {
                margin-left: 0;
                width: 100%;

                &>.heading-group p {
                    color: black;
                    font-style: unset; // Remove italic text
                }
            }
        }
    }
}

/**** Register ***/

.window-wrap .login-register .form-field label.focus-out {
    position: relative;
}


/**** Courses ***/
/*
.course-content .xmodule_display.xmodule_SequenceModule .sequence-nav .sequence-list-wrapper {
    overflow: inherit;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav {
    margin: 0 auto 35px !important;
}
*/

.find-courses {
    background: #fff;

    .search-facets.phone-menu {
        box-shadow: none;
        border: 1px solid #bebebe;
        margin-top: 53px;
        width: 100%;
    }

    .courses-container {
        padding-top: 0;
    }

    .title-courses {
        text-align: left;
        width: 70%;
        margin: 0;
        float: left;
    }

    #filter-bar {
        width: 74.41059%;
        float: left;
    }
}

.find-courses .wrapper-search-context {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .wrapper-search-input {
        width: auto;
    }

    .search-status-label {
        width: 100%;
        font-size: 16px;
        padding: 0 10px;
        font-weight: bold;
        box-sizing: border-box;
        float: none;
    }
}

@media screen and (max-width: 991px) {
    .wrapper-course-material .course-material {
        overflow-x: auto !important;
    }
}

#content {
    div.container .course-wrapper {
        border: 0;
    }

    #course-container {
        .page-header {
            &-secondary {
                @media (max-width: 767.98px) {
                    padding-left: 20px;
                }
            }

            &-search {
                input#search {
                    border-top-left-radius: 50px;
                    border-bottom-left-radius: 50px;
                    padding-left: 20px !important;                
                }
            }
        }

        .search-form {

            .search-input,
            .search-button {
                // the search button on course home should only round corners on right but not on the left.
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

/**** Static page ***/

#a .container.about {
    line-height: 1.4em;
}


/**** About page ***/

.content-wrapper .course-info {
    margin: 0 auto;
    max-width: 1180px;

    header.course-profile {
        background: none;
        border: 0;
        box-shadow: none;
        padding: 0;

        .intro-inner-wrapper {
            border: 0;
            box-shadow: none;

            .table {
                .intro {
                    .main-cta {
                        .register {
                            @include nau-button-style;
                        }
                    }
                }
            }
        }

        .intro-inner-wrapper .intro {
            padding: 0;
        }

        .intro-inner-wrapper .media {
            padding-right: 0;
        }
    }

    .container {
        padding-top: 0;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    h4,
    h5 {
        color: $black;
        font-size: 1.13rem;
    }

    h2,
    .details .inner-wrapper .course-staff .teacher h3,
    h3,
    h4 {
        color: $black;
        font-weight: bold;
    }
}


/**** Language selector ***/

.language-selector.select {
    background: $white;
    border: 1px solid #04345B;
    border-radius: 5px;
    padding: 5px;
    text-align-last: center;
    border: none;
}


/* LOGIN */

article.course {
    border-radius: 0px 0px 10px 10px !important;
}

main#main {
    .login-register-content {
        max-width: 600px;
        margin: auto auto;
        background: #2A2A2A 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        border-radius: 5px 5px 20px 20px;
        opacity: 1;

        // padding-left: 0px ;
        // padding-right: 0px;
        background-color: #fff !important;
        border: 0;

        div#login-and-registration-container {
            padding: 50px;
        }

        a {
            color: $header-bar-color;
        }

        h2 {
            color: black;
        }

        .login-register {
            .form-field {
                .error {
                    border-color: orange !important;
                    color: orange !important;
                }

                input {
                    border-color: blue;
                    border-left: none;
                    border-top: none;
                    border-right: none;
                    box-shadow: none;
                }

                select {
                    outline: none;
                    border: none;
                    border-bottom: solid 1px #0553FF;
                    box-shadow: none;

                    :focus {
                        border-bottom: solid 4px #0553FF;
                    }
                }

                label.focus-out {
                    font-weight: bold;
                    font-size: 18px;
                    padding: 0px;
                    padding-top: 25px;
                    padding-bottom: 10px;
                }

                label {
                    color: red;
                }

                .form-wrapper {
                    padding-top: 0px;
                    padding-bottom: 0px;
                }

                .login-providers {
                    .register-saml-cccmd {
                        background-color: grey;
                    }
                }
            }
        }
    }
}


/* FIM DE FORM */

.wrapper-preview-menu {
    position: fixed;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    opacity: 0.85;

    .preview-menu a.btn.view-in-studio {
        margin-right: 4rem;
    }
}

.page-header {
    margin-top: 20px;
    margin-left: 28px;
    margin-right: 28px;
    margin-bottom: 10px;
    padding: 0px 0px 15px 0px;
}

.page-content {
    padding: 30px 0px;
}

#expand-collapse-outline-all-button {
    @include nau-button-alt-style;
    font-size: 0.8rem;

    @media (max-width: 767.98px) {
        margin-right: 1.3rem;
    }

    & [aria-expanded*="true"] {
        color: red;
    }

    & [aria-expanded*="false"] {
        color: green;
    }
}

.course-header {
    padding: 10px 50px;
    text-align: center;
    background-color: #f0f0f0;
    color: $gray-smalltext-color;

    @media screen and (min-width: $breakpoint-xlarge) {
        display: none;
    }

    @media screen and (max-width: $breakpoint-small) {
        padding-left: 5px;
        padding-right: 5px;
    }

    span {
        font-size: 14px;
        margin-left: 10px;
    }

    span.provider {
        font-weight: bold;
    }

    span.course-number {
        display: none;
    }
}

/* --------------- Override HM --------------- */

div.window-wrap {
    box-shadow: 0 1.5em 1.5em rgba(0, 0, 0, 0.1) !important;
}

div.main-header {
    background-color: white;
}



.form-field label {
    color: #333 !important;
}

.btn-primary {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
}

#login-and-registration-container {
    border: 0 !important;
    background-color: transparent !important;
}

.action-primary:focus {
    box-shadow: none;
}

#login-form {
    border-color: #ccc !important;
}


/* 02-07-2020 */

header.page-header {
    margin-left: 0;
}

header.page-header h3.title {
    color: #333 !important;
    font-size: 29px !important;
    font-weight: bold !important;
}

input[name="honor_mode"],
input[name="verified_mode"] {
    border-radius: 5em !important;
    box-shadow: 0 0 0 !important;
}

input[name="honor_mode"] {
    background-color: #0857ff !important;
}

.verification-process.step-select-track .register-choice-audit {
    border-color: $header-bar-color !important;
}

button.accordion-trigger .fa,
button.prerequisite-button .fa {
    color: $header-bar-color;
}

// move bookmark activity to right of the screen
.xblock.xblock-student_view.xblock-student_view-vertical.xblock-initialized {
    .bookmark-button-wrapper {
        margin-bottom: 10px;

        .btn.btn-link.bookmark-button {
            display: block;
            margin-left: auto;
            margin-right: 0;
        }
    }
}

// #seq_content button.btn,
.breadcrumbs-header a.add-article-btn {
    @include nau-button-alt-style;
}

// Add NAU button style to all buttons, but not include that style on buttons that should be viewed as links.
button.btn:not(button.btn.btn-link) {
    @include nau-button-alt-style;
}

// change button styles
button.submit,
.forum-search button,
.forum-actions button,
.search-button,
.btn.btn-primary:not(button.btn.btn-link) {
    @include nau-button-style;
}

.chapters a {
    color: #0553ff !important;
}

.wrapper-msg.wrapper-auto-cert .auto-cert-message {
    border-left-color: #0553ff !important;
}

.course-tabs a {
    color: #0553ff !important;
    font-weight: bold !important;
    font-size: 18px !important;
}

.wrapper-course-material .course-tabs .tab a.active,
.wrapper-course-material .course-tabs .tab a:visited,
.content-wrapper .course-tabs .nav-item.active .nav-link,
.content-wrapper .course-tabs .nav-item:hover .nav-link {
    border-bottom-color: #0553ff !important;
}

#course-outline-block-tree a,
.article-functions a {
    color: #0553ff !important;
}

.wiki-wrapper section.wiki .nav-tabs li.active a {
    border: 0 !important;
}

.breadcrumbs .btn-link {
    border: 0 !important;
    background-color: transparent !important;
    cursor: pointer;
    color: #0553ff !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
}



.has-breadcrumbs .breadcrumbs {
    margin-left: 1em;
}

.has-breadcrumbs .breadcrumbs a {
    color: #0553ff !important;
}

.has-breadcrumbs .breadcrumbs a:hover,
.has-breadcrumbs .breadcrumbs a:active {
    color: #333 !important;
}

.page-header {
    border-bottom: 0 !important;
    margin-bottom: 0 !important;
}


@mixin nav-tab-sequence {

    // color: $nau_blue;
    &:hover,
    &:active,
    &:focus {
        border-color: $nau_blue;
        color: white;
        background-color: $nau_blue;

        span {
            color: white;
        }
    }
}

#main {
    .xmodule_display.xmodule_SequenceBlock {

        .sequence-nav,
        .sequence-bottom {

            // increase next and previous top activity buttons and round the courners
            button.button-next {
                border-radius: 0 5em 5em 0;
                @include nav-tab-sequence;
            }

            button.button-previous {
                border-radius: 5em 0 0 5em;
                @include nav-tab-sequence;
            }

            button.sequence-nav-button {
                @include nav-tab-sequence;

                &hover {
                    padding-top: unset;
                }
            }

            button.active {
                background: $nau_blue;
                
                .icon {
                    color: white;
                }
            }
        }

        .sequence-nav {
            .sequence-list-wrapper {
                #sequence-list {
                    li {
                        button {
                            @include nav-tab-sequence;
                            overflow:hidden;
                        }
                    }
                }
            }
        }


        .sequence-bottom {
            button.button-next {
                // increase the size of the bottom next activity button
                min-width: 40% !important;
            }
        }
    }
}

.wrapper-downloads a {
    color: #0553ff !important;
    background-color: transparent !important;
    font-weight: normal !important;
}

// Change video side subtitles color to increase acessibility
.xmodule_display.xmodule_VideoBlock .video .subtitles {
    li {

        a,
        span {
            color: $primary;
        }
    }

    li.current {
        background-color: black;

        span {
            color: yellow;
        }
    }
}

.course-container {
    border: 0 !important;
    box-shadow: 0 0.15em 0.65em rgba(65, 65, 65, 0.25) !important;
    border-radius: 0.25em !important;
}

.course .messages-list {
    border-radius: 0 0 0.25em 0.25em;
}

header.page-header h2 {
    margin-left: 30px;
}

#entities-quick-links ul {
    padding-left: 0;
}

/*:not(.course-header):not(.image-explorer-hotspot) { box-sizing: unset; }*/
footer section#entities-quick-links ul.flex-row {
    margin-bottom: 0;
}

aside.page-content-secondary a {
    color: #0553ff;
}

.wrapper-course-details h3 a {
    color: #0553ff !important;
}

.wrapper-course-details h3 a:hover,
.wrapper-course-details h3 a:active {
    color: #333 !important;
}

.wrapper-course-details .course-actions a {
    border: 0 !important;
    font-size: 13px !important;
    padding: 0.4em 1em !important;
    margin-bottom: 0.3em;
}

.wrapper-course-details .course-actions .wrapper-action-more {
    position: absolute !important;
    bottom: 0 !important;
}

.wrapper-course-details .course-actions .wrapper-action-more .action-unenroll {
    background-color: transparent !important;
    color: #0553ff !important;
    text-decoration: none;
    text-align: left !important;
}

h3.course-title span {
    font-size: inherit !important;
    line-height: inherit !important;
}

article.course>section.details>div.wrapper-course-details>div.course-info>span.info-date-block-container {
    display: none !important;
}

@media screen and (max-width: 991px) {
    .global-header .main-header {
        height: unset !important;
    }
}

.xmodule_display.xmodule_ProblemBlock div.problem .choicegroup input[type="radio"],
.xmodule_display.xmodule_ProblemBlock div.problem .choicegroup input[type="checkbox"] {
    left: 0.3625rem !important;
    top: 0.3625rem !important;
}

.date-summary-container .date-summary .right-column .date-summary-link a {
    color: $header-bar-color !important;
}

.xmodule_display.xmodule_ProblemBlock div.problem .choicegroup input:focus+label,
.xmodule_display.xmodule_ProblemBlock div.problem .choicetextgroup input:focus+label,
.xmodule_display.xmodule_ConditionalModule div.problem .xmodule_display.xmodule_ProblemBlock .choicegroup input:focus+label,
.xmodule_display.xmodule_ConditionalModule div.problem .xmodule_display.xmodule_ProblemBlock .choicetextgroup input:focus+label,
.xmodule_display.xmodule_ProblemBlock div.problem .choicegroup input:hover+label,
.xmodule_display.xmodule_ProblemBlock div.problem .choicetextgroup input:hover+label,
.xmodule_display.xmodule_ConditionalModule div.problem .xmodule_display.xmodule_ProblemBlock .choicegroup input:hover+label,
.xmodule_display.xmodule_ConditionalModule div.problem .xmodule_display.xmodule_ProblemBlock .choicetextgroup input:hover+label {
    border: 2px solid $header-bar-color !important;
}

.view-profile .wrapper-profile {
    background: none;
}

.view-profile .profile-self .wrapper-profile-field-account-privacy {
    border: none;
    background-color: #e3e3e3;
}

// fix horizontal scroll on course page
.course-outline .block-tree .section {
    margin-right: 0px;
}