@mixin nau-button-style($fontSize: inherit) {
    padding: 0.4rem 1.4rem;
    border-radius: 0.25rem;
    border: 1px solid $primary !important;
    background: $primary !important;
    color: white !important;
    box-shadow: unset;
    font-size: $fontSize;

    &:hover,
    &:active,
    &:focus {
        border-width: 1px;
        border-color: $primary !important;
        color: $primary !important;
        background-color: white !important;
        text-shadow: unset;
        background-image: unset;
    }

    &:hover,
    &:active {
        box-shadow: unset;
    }

    &:focus {
        box-shadow: 0 0 0 0.2rem $nau_button_focus;
    }
}

@mixin nau-button-alt-style($fontSize: inherit) {
    padding: 0.4rem 1.4rem;
    border-radius: 0.25rem;
    border-width: 1px;
    border-style: solid;
    background: white !important;
    border-color: $primary !important;
    color: white !important;
    box-shadow: unset;
    font-size: $fontSize;

    &:hover,
    &:active,
    &:focus {
        border-width: 1px;
        // Realy need the next !important 's to force overwrite some discussion module !important 's.
        border-color: $primary !important;
        color: white !important;
        background-color: $primary !important;
        text-shadow: unset;
        background-image: unset;
    }

    &:hover,
    &:active {
        box-shadow: unset;
    }

    &:focus {
        box-shadow: 0 0 0 0.2rem $nau_button_focus;
    }
}

@mixin nau-color-change-alt() {
    background: white;
    border-color: $primary;
    color: $primary;

    &:hover,
    &:active,
    &:focus {
        border-color: $primary;
        color: white;
        background-color: $primary;
    }
}