<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>

<%!
from django.urls import reverse
from django.utils.translation import gettext as _
from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages

%>


% if header_language_selector_is_enabled():
<div class="mobile-nav-item hidden-mobile nav-item">
  <% languages = released_languages() %>
    % if len(languages) > 1:
      <form action="/i18n/setlang/" method="post" class="settings-language-form" id="language-settings-form">
        <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
        % if user.is_authenticated:
          <input title="preference api" type="hidden" class="url-endpoint" value="${reverse('preferences_api', kwargs={'username': user.username})}" data-user-is-authenticated="true">
        % else:
          <input title="session update url" type="hidden" class="url-endpoint" value="${reverse('update_language')}" data-user-is-authenticated="false">
        % endif            
        <label><span class="sr">${_("Choose Language")}</span>
        <select class="input select language-selector" id="settings-language-value" name="language" onchange="this.form.submit()">
          % for language in languages:
            % if language[0] == LANGUAGE_CODE:
              <option value="${language[0]}" selected="selected">${language[1]}</option>
            % else:
              <option value="${language[0]}" >${language[1]}</option>
            % endif
          % endfor
        </select>
        </label>
      </form>
    % endif
  </div>
% endif
