$back_body_color: gray;
$page_color: #F5F5F5;
$nau_blue: #0857FF;
$new_action_color: #080432;

body {
    
    margin: auto;

    .wrapper {

        section.content {
            max-width: unset;
        }

        // Add heigth        
        #view-top.wrapper-header.wrapper {
            header.primary {
                div.wrapper {
                    h1.branding {
                        img.brand-image {
                            min-height: 2.8rem;
                        }
                    }
                }
                .wrapper-l {
                    width: 63%;

                    h2.info-course {
                        width: unset;
                    }
                    nav.nav-course {
                        width: unset;
                    }
                }
                .wrapper-r {
                    width: 37%;
                    // Increase width of the change language combo box
                    nav.user-language-selector {
                        width: 14rem;
                        #language-settings-form.settings-language-form{
                            label{
                                #settings-language-value.language-selector{
                                    width: 14rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        main#main {
            #content {
                .wrapper {
                    header {
                        nav.nav-actions {
                            // do not make the buttons overflow
                            bottom: 0;
                        }
                    }
                    .button { // any button inside the content or header div, this won't match the studio home
                        border-radius: 50px;
                        padding: 0.8em 2em 0.8em 2em;
                        border-width: 1px;
                        background: $nau_blue;
                        border-color: $nau_blue;
                        color: white;

                        &:hover {
                            border-width: 1px;      
                            border-color: $nau_blue;
                            color: $nau_blue;
                            background-color: white;
                        }
                
                        &.button-new {
                            background-color: $nau_blue;
                            border-color: $nau_blue;
                            color: white;
                
                            &:hover {
                                color: $nau_blue;
                                background-color: white;
                            }    
                        }
                
                        &.external-help-button {
                            background-color: white;
                            color: $nau_blue;
                            border-color: $nau_blue;
                            border-width: 1px;
                            &:hover {
                                color: white;
                                background-color: $nau_blue;
                            }
                        }
                    }    
                    ol.list-sections {
                        li {
                            border-radius: 10px 10px 20px 20px;
                        }                
                    }
                }

                // edit the home content
                section.content {
                    article.content-primary{
                        .courses {
                            #react-course-listing {
                                .list-courses {
                                    li.course-item {
                                        ul.course-actions {
                                            li {
                                                a.button {
                                                    // Remove custom NAU button style and make them as normal anchor
                                                    border-radius: unset;
                                                    padding: unset;
                                                    border-width: unset;
                                                    background: unset;
                                                    border-color: unset;
                                                    color: $nau_blue;
                                                    &:hover {
                                                        color: $button-hover;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.wrapper-mast .mast.has-actions .nav-actions {
    // GN-390 Fix unable to edit long unit titles
    width: auto;
}


.wrapper-sock .list-cta .cta-show-sock {
    display: none;    
}

.wrapper-footer.wrapper {
    margin: 0px;
    padding: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    .footer-content-primary {
       padding: 10px 20px 0px 20px;
    }
    
    .footer-content-secondary {
        margin: 0px 20px 0px 20px;
    }
}

.view-dashboard {
    .list-courses {
        border-radius: 10px 10px 20px 20px;
        overflow: hidden;
    }
}

// GN-140 Fix modal drag and drop editor was hidding some last button.
[class*="view-"] .modal-window .editor-with-buttons {
    margin-bottom: unset !important;
}

// Make STUDIO display with full width instead of using a narrow display.
.inner-wrapper,
header.mast,
.wrapper-mast .mast, 
.wrapper-mast .metadata,
.wrapper-header header.primary,
.wrapper-footer footer.primary {
    max-width: unset !important;
}

@import "footer"
