## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from datetime import datetime
  from django.utils.translation import gettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
  from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>
<%
    www_pt = static.get_value('NAU_MARKETING_BASE_HREF', {}).get("pt-pt", "")
    www_en = static.get_value('NAU_MARKETING_BASE_HREF', {}).get("en", "")
    footer_menu = static.get_value('NAU_FOOTER_MENU', getattr(settings, 'NAU_FOOTER_MENU', {})).get(LANGUAGE_CODE, {})
    nau_social_media = static.get_value('NAU_SOCIAL_MEDIA', getattr(settings, 'NAU_FOOTER_MENU', []))
%>
<footer>
  <%
    footer_logos = static.get_value('NAU_FOOTER_LOGOS', getattr(settings, 'NAU_FOOTER_LOGOS', {})).get("itens", {})
  %>
    % if len(footer_logos)>0:
    <section id="entities-quick-links">
    <!-- above the footer logos -->
      % for row in footer_logos:
      <section class="entities-quick-links__line">
        % for item in row: 
        <div class="entities-links-logo">
          <a href="${item.get('link', item.get('url', ''))}" class="entity-link" target="${item.get('target', '_blank')}" rel="noopener">
            <img
              loading="lazy"
              src="${item.get('image', item.get('src', ''))}"
              alt="${item.get('alt', '')}"
              title="${item.get('title', '')}"
              width="${item.get('width', '')}"
              height="${item.get('height', '')}" />
          </a>
        </div>
        % endfor
      </section>
      % endfor
    <!-- end of above the footer logos -->
    </section>
    % endif
  <section id="footer-nav">
    % if len(footer_menu)>0 or len(nau_social_media)>0:
      <div id="quick-links-section">
        % if isinstance(nau_social_media, list) and len(nau_social_media)>0:
          <!-- starts social media -->
          <div class="footer-social">
            <div class="footer-logo">
              <img src="${static.url("nau-basic/images/logo_nau_fct_full.svg")}"
                height="60" alt="{{partner_name}} Logo" border="0" hspace="0" vspace="0"
                class="platform-img" />
            </div>
            <div id="social-media">
              <ul>
                % for social_media in nau_social_media:
                  <li>
                    <a
                      href="${social_media.get('url','')}"
                      target="${social_media.get('target','_blank')}"
                      class="social-links external"
                      title="${social_media.get('title', {}).get(LANGUAGE_CODE, '')}"
                      rel="${social_media.get('rel','noopener')}">
                      <span class="icon fa ${social_media.get('icon','')}" aria-hidden="true"></span>
                      <span class="sr">${social_media.get('action', {}).get(LANGUAGE_CODE, '')}</span>
                    </a>
                  </li>
                % endfor
              </ul>
            </div>
            <div id="openedx-logo"><a href="https://open.edx.org/" target="_blank"><img src="${static.url('images/edx-openedx-logo.png')}" alt="Powered by OpenEdX" title="${_('Visit OpenEdx website')}"></a></div>
          </div>
        %endif
        % if len(footer_menu)>0:
          % for footer_menu_item in footer_menu:
            <% html_link = footer_menu_item["html"] %>
            <% children = footer_menu_item.get("itens", {}) %>
            <div class='footer-links'>
              <span class="footer-title">${html_link}</span>
              <ul>
                %for sub_item in children:
                  <% sub_item_link = sub_item.get("link","") %>
                  <% sub_item_html = sub_item["html"] %>
                  <li><a href='${sub_item_link}'>${sub_item_html}</a></li>
                %endfor
              </ul>
            </div>
          % endfor
        %endif
      </div>
    %endif
  </section>
  <section class="footer-copyright">
    <%
    footer_institutional_logos = static.get_value('FOOTER_INSTITUTIONAL_LOGOS', getattr(settings, 'FOOTER_INSTITUTIONAL_LOGOS', []))
    %>
    % if len(footer_institutional_logos)>0:
      <section class="footer-copyright__institutional-logos">
        % for item in footer_institutional_logos:
        <a href="${item.get('link', item.get('url', ''))}" target="${item.get('target', '_blank')}" rel="noopener">
          <img
            loading="lazy"
            src="${item.get('image', item.get('src', ''))}"
            alt="${item.get('alt', '')}"
            title="${item.get('title', '')}"
            width="${item.get('width', '')}"
            height="${item.get('height', '')}" />
        </a>
        % endfor
      </section>
    <!-- end of institutional logos -->
    % endif
    <div class="footer-copyright__text">
        <p>&copy; ${datetime.now().year} FCCN-FCT. ${_('All rights reserved')}.</p>
    </div>
  </section>

</footer>

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif

<%include file="modal-update-terms-of-service.html" />

