{% load i18n %}
{% load django_markup %}
{% load core_extras %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}


{% block user_addresses %}
<div id="user_addresses" class="tab-pane">
    <h2>{% trans "Billing address" as tmsg %}{{ tmsg | force_escape }}</h2>
        <a href="/payment/nau_extensions/user-address/create/">{% trans "Edit" as tmsg %}{{ tmsg | force_escape }}</a>

        <div class="row-fluid">
            {% for address in user.addresses.all %}
                {% if address.is_default_for_billing %}
                    <div class="span3">
                        <div class="well well-info">
                        {% for field in address.active_address_fields %}
                            {{ field }}<br/>
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
